<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a *ngIf="isLoggedIn" class="navbar-brand" style="color:gold">Shadow616
    <i class="fa fa-magic fa-lg fa-fw"></i>
  </a>
  <div class="container">
    <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
      aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">

      <ul class="navbar-nav mr-auto">

        <li class="nav-item " *ngIf="isLoggedIn">
          <a class="nav-link" routerLinkActive="active" routerLink="/">DashBoard</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">

        <li class="nav-item " *ngIf="!isLoggedIn">
          <a class="nav-link" routerLinkActive="active" routerLink="login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" *ngIf="!isLoggedIn" routerLink="/register">Register</a>
        </li>
        <li class="nav-item">
          <a style="cursor:pointer;" class="nav-link" *ngIf="isLoggedIn" (click)="Logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>